name: CI

on: push

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2

      - name: install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: run flake8
        run: |
          flake8 app.py